/* You can add global styles to this file, and also import other style files */
html, body {
	padding: 30px;
}
.list-group-item {
	width: 100%;
}
div.col-xs-12 {
	width: 100%;
}
span.glyphicon{
	float: right;
	font-size: 24px;
}